/* ===========================================
	        Tic Tac Toe Style Sheet
	          By: Ariel Gelbard
	          October 16, 2014
============================================ */
.tileBackgroundG {
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #bebebe 93%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(93%, #bebebe));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #bebebe 93%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #bebebe 93%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #bebebe 93%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #bebebe 93%);
  /* W3C */ }

.tileBackgroundX {
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #FFB6B6 93%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(93%, #FFB6B6));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #FFB6B6 93%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #FFB6B6 93%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #FFB6B6 93%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #FFB6B6 93%);
  /* W3C */ }

.tileBackgroundO {
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #41CCFF 93%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(93%, #41CCFF));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #41CCFF 93%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #41CCFF 93%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #41CCFF 93%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #41CCFF 93%);
  /* W3C */ }

.board {
  margin: 10px auto; }
  .board li {
    list-style-type: none;
    height: 100px;
    font-family: Arial;
    font-weight: bold;
    font-size: 10em;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default; }
    .board li :nth-child(2n+1) {
      border: none; }

.score {
  width: 100%;
  font-size: 16px;
  display: block;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase; }
  .score #status {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px; }
  .score div {
    width: 32.33%;
    text-align: center;
    display: inline-block; }

.options, .nicknameArea {
  width: 47%;
  margin-top: 10px;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 2%; }
  .options a, .nicknameArea a {
    display: inline-block;
    text-align: center;
    width: 45%;
    background-color: #1abc9c;
    color: white;
    padding: 10px 0;
    margin-left: 2.5%;
    text-decoration: none; }
  .options input, .nicknameArea input {
    width: 45%;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    margin-left: 2.3%;
    font-family: Arial;
    font-weight: bold; }

@media screen and (max-width: 800px) {
  .options, .nicknameArea {
    display: block;
    width: 90%;
    margin-left: 5%; } }

#messagePosted {
  margin: 10px 0;
  border: 1px black solid;
  height: 100px;
  width: 95%;
  margin-left: 2.5%;
  overflow: auto; }
  #messagePosted p {
    margin: 2%;
    width: 97%;
    font-family: Arial; }
