//- ===========================================
//-           Tic Tac Toe Style Sheet
//-             By: Ariel Gelbard
//-             October 16, 2014
//- ===========================================
doctype html
html
  head
    title Responsive Tic Tac Toe!
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
  //- Tic Tac Toe Background
  div(class='board')
  //- Tic Tac Toe Score Board
  div(class='score')
    //- Tic Tac Toe Status Bar
    h1(id="status") LETS PLAY!
    div
      h1 Me
      h1(id="meScore") 0
    div
      h1 Tie
      h1(id="catsScore") 0
    div
      h1(id='opponentName') Opponent
      h1(id="oScore") 0
    hr
    //- Tic Tac Toe Options
  //- h6(id="options")
  div.options
    input.textbox(type='text' id='message' placeholder='Message')
    a(href="#" id="sendMessage") Send Message
  //-Change Nickname Area
  div.nicknameArea
    input.textbox(type='text' id='desiredUserName' placeholder='Enter Nickname')
    a.button(id="requestName") Request Nickname
  //- Where Messages are Displayed
  div(id='messagePosted')

  //- Style Sheet Reference
  link(rel="stylesheet" type="text/css" href="assets/styles/reset.css")
  link(rel="stylesheet" type="text/css" href="assets/styles/main.css")
  
  //- Script Reference
  script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")
  script(type="text/javascript", src="assets/scripts/main.js")