//- ===========================================
//-           Tic Tac Toe Style Sheet
//-             By: Ariel Gelbard
//-             October 16, 2014
//- ===========================================
doctype html
html
  head
    title Responsive Tic Tac Toe!
  body
  //- Tic Tac Toe Background
  div(class='board')
  //- Tic Tac Toe Score Board
  div(class='score')
    //- Tic Tac Toe Status Bar
    h1(id="status") LETS PLAY!
    div
      h1 Me
      h2(id="meScore") 0
    //- div
    //-   p(style="color:#A10000;") Me
    //-   span VS
    //-   p(style="color:#002BE3;") Opponent
    div
      h1 Cats
      h1(id="catsScore") 0
    div
      h1 Opponent
      h1(id="oScore") 0
    hr
    //- Tic Tac Toe Options
    h6(id="options")
  </div>
  //- Style Sheet Reference
  link(rel="stylesheet" type="text/css" href="assets/styles/main.css")
  //- Script Reference
  script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    
  script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.1.0.js")

  script(type="text/javascript", src="assets/scripts/main.js")